QMenuBar {
    font-size: 15px;
    background-color: rgb(50, 70, 90);
    color: white;
}
QMenuBar::item:selected { 
    background-color: black;
    color: white; 
}
QMenu {
    font-size: 15px;
    background-color: rgb(50, 70, 90);
}
QMenu::item {
    background-color: transparent;
    color: white;
}
QMenu::item:selected { 
    background-color: black;
    color: white; 
}